---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${var.app-name}
  labels:
    app: ${var.app-name}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${var.app-name}
  template:
    metadata:
      labels:
        app: ${var.app-name}
    spec:
      nodeName: helium
      containers:
        - name: ${var.app-name}
          image: ghcr.io/chrisbenincasa/tunarr:0.22.18
          imagePullPolicy: Always
          env:
            - name: TZ
              value: "America/New_York"
            - name: TUNARR_SERVER_TRUST_PROXY
              value: "true"                         
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          volumeMounts:

            - name: ${var.app-name}-config
              mountPath: /config/tunarr
            - name: dri
              mountPath: /dev/dri
            - name: streams
              mountPath: /streams              
          # resources:
          #   limits:
          #     nvidia.com/gpu: 1 # requesting 1 GPU
          securityContext:
            privileged: true                    
      volumes:
        - name: ${var.app-name}-config
          persistentVolumeClaim:
            claimName: ${var.app-name}-config 
        - name: dri
          hostPath:
            path: /dev/dri
        - name: streams
          emptyDir:
            # sizeLimit: 500Mi
            medium: Memory            
---
apiVersion: v1
kind: Service
metadata:
  name: ${var.app-name}
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.0.214
  selector:
    app: ${var.app-name}
  ports:
  - name: http
    port: 80
    targetPort: 8000