kind: Deploy
type: kubernetes
name: ghcr-credentials
description: |
    Deploy the GHCR Image Pull Credentials
    TODO: make this a [template](https://docs.garden.io/reference/config-template-config)
variables:
  auth: ${var.ghcr.username}:${var.ghcr.api-key}
  dockerconfigjson: |
    {
      "auths": {
        "https://ghcr.io": {
          "username": "${var.ghcr.username}",
          "password": "${var.ghcr.api-key}",
          "email": "${var.email}",
          "auth": "${base64Encode(var.auth)}"
        }
      }
    }
spec:
  namespace: default
  manifestTemplates:
    - ghcr.secret.yaml
