apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tunarr-config
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Gi
  storageClassName: rook-cephfs-retain