- name: common node setup
  hosts: main
  serial: 1
  vars_files:
    - secrets.yml
  become: yes  # Run as sudo
  tasks:
    - name: Install Nfs Common
      apt:
        name: nfs-common
        state: present
        update_cache: yes        
    - name: Update Nfs Mount Configuration
      ansible.builtin.copy:
        dest: /etc/nfsmount.conf
        content: |
          [ NFSMount_Global_Options ]
          Defaultvers=4.1
    - name: update-sysctl-settings
      ansible.builtin.copy:
        dest: /etc/sysctl.d/local.conf
        content: |
          fs.inotify.max_user_watches = 1048576          
    - name: Reload all sysctl configuration using shell command
      ansible.builtin.shell: sysctl -p --system
    - name: Ensure systemd-networkd-wait-online.service drop-in directory exists
      ansible.builtin.file:
        path: /etc/systemd/system/systemd-networkd-wait-online.service.d
        state: directory
        mode: '0755'
    - name: Create a drop-in file to set the timeout to 5 seconds
      ansible.builtin.copy:
        content: |
          [Service]
          ExecStart=
          ExecStart=/lib/systemd/systemd-networkd-wait-online --any --timeout=5
        dest: /etc/systemd/system/systemd-networkd-wait-online.service.d/10-timeout-override.conf
        mode: '0644'
      # The 'ExecStart=' line is necessary to clear the default ExecStart command before
      # specifying the new one with the --timeout option.
    - name: Reload systemd daemon to apply changes
      ansible.builtin.systemd:
        daemon_reload: true
    - name: (Optional) Restart the service to verify the change immediately
      # This is helpful for testing; on boot the change will be active automatically.
      ansible.builtin.systemd:
        name: systemd-networkd-wait-online.service
        state: restarted
      ignore_errors: true # The service might fail if the network condition isn't met, which is expected during testing      
    - name: ensure rancher config dir exists
      file:
        path: /etc/rancher/rke2
        recurse: true
        state: directory
    - name: generate-rke-config
      ansible.builtin.copy:
        dest: /etc/rancher/rke2/config.yaml
        content: |
          token: {{ main_rke2_token }}
          server: 'https://rke2.home:9345'
          tls-san:
            - rke2.home
          ingress-controller: none
          etcd-expose-metrics: true
          kube-controller-manager-arg:
            - 'bind-address=0.0.0.0'
          kube-scheduler-arg:
            - 'bind-address=0.0.0.0' 
          kubelet-arg:
            - 'allowed-unsafe-sysctls=net.ipv4.conf.all.src_valid_mark,net.ipv6.conf.all.disable_ipv6'
    - name: Enable and start a rke2 server
      ansible.builtin.service:
        name: rke2-server
        state: restarted
        enabled: yes