
- name: Create main cluster kubeconfig
  hosts: gimli.home
  become: false
  tasks:
    - name: Fetch kubeconfig
      ansible.builtin.slurp:
        src: /etc/rancher/rke2/rke2.yaml
      register: kubeconfig_data
      become: yes
    - name: kubeconfig to fact
      ansible.builtin.set_fact:
        kubeconfig: "{{ kubeconfig_data.content | ansible.builtin.b64decode | from_yaml }}"
    - name: Create directory if it doesn't exist
      ansible.builtin.file:
        path: ~/.kube/
        state: directory
        mode: '0700'
        # owner: your_user
        # group: your_group
      delegate_to: localhost
    - name: Create main kubeconfig
      ansible.builtin.copy:
        dest: "~/.kube/main.kubeconfig"
        content: |
          apiVersion: v1
          clusters:
          - cluster:
              certificate-authority-data: "{{ kubeconfig.clusters[0].cluster['certificate-authority-data'] }}"
              server: https://rke2.home:6443
            name: main
          contexts:
          - context:
              cluster: main
              user: main-user
            name: main
          current-context: main
          kind: Config
          preferences: {}
          users:
          - name: main-user
            user:
              client-certificate-data: "{{ kubeconfig.users[0].user['client-certificate-data'] }}"
              client-key-data: "{{ kubeconfig.users[0].user['client-key-data'] }}"
      delegate_to: localhost
      
  