---
- name: Moonbase Rke2 Setup
  hosts: moonbase
  vars_files:
    - secrets.yml
  become: yes  # Run as sudo
  tasks:
    - name: Install Nfs Common
      apt:
        name: nfs-common
        state: present
        update_cache: yes
    - name: Update Nfs Mount Configuration
      ansible.builtin.copy:
        dest: /etc/nfsmount.conf
        content: |
          [ NFSMount_Global_Options ]
          Defaultvers=4.1
    - name: update-sysctl-settings
      ansible.builtin.copy:
        dest: /etc/sysctl.d/local.conf
        content: |
          fs.inotify.max_user_watches = 1048576          
    - name: Reload all sysctl configuration using shell command
      ansible.builtin.shell: sysctl -p --system
    - name: ensure rancher config dir exists
      file:
        path: /etc/rancher/rke2
        recurse: true
        state: directory
    - name: generate-rke-config
      ansible.builtin.copy:
        dest: /etc/rancher/rke2/config.yaml
        content: |
          # server: https://moonbase.home:9345
          token: {{ moon_rke2_token }}
          tls-san:
            - moonbase.home
          ingress-controller: none
    - name: install rke2 server
      ansible.builtin.shell: "curl -sfL https://get.rke2.io | sh -"
    - name: Enable and start a rke2 server
      ansible.builtin.service:
        name: rke2-server
        state: started
        enabled: yes
    - name: Fetch kubeconfig
      ansible.builtin.fetch:
        src: /etc/rancher/rke2/rke2.yaml
        dest: ~/.kube/moon.kubeconfig