
- name: Create moonbase KubeConfig
  hosts: moonbase
  become: false  # Run as sudo
  tasks:
    - name: Fetch kubeconfig
      ansible.builtin.slurp:
        src: /etc/rancher/rke2/rke2.yaml
      register: kubeconfig_data
      become: yes
    - name: kubeconfig to fact
      ansible.builtin.set_fact:
        kubeconfig: "{{ kubeconfig_data.content | ansible.builtin.b64decode | from_yaml }}"
    - name: Create moonbase kubeconfig
      ansible.builtin.copy:
        dest: "~/.kube/moonbase.kubeconfig"
        content: |
          apiVersion: v1
          clusters:
          - cluster:
              certificate-authority-data: "{{ kubeconfig.clusters[0].cluster['certificate-authority-data'] }}"
              server: https://moonbase.home:6443
            name: moonbase
          contexts:
          - context:
              cluster: moonbase
              user: moonbase
            name: moonbase-context
          current-context: moonbase-context
          kind: Config
          preferences: {}
          users:
          - name: moonbase
            user:
              client-certificate-data: "{{ kubeconfig.users[0].user['client-certificate-data'] }}"
              client-key-data: "{{ kubeconfig.users[0].user['client-key-data'] }}"
      delegate_to: localhost
      
  