kind: Deploy
description: |
  Deploy Bizarr. Bizarr is app that handles downloading and managing subtitles
type: kubernetes
name: bazarr
variables:
  app-name: ${this.name}
dependencies:
  - deploy.bazarr-storage
spec:
  namespace: bazarr
  manifestTemplates:
    - manifests/app.deployment.yml
---
kind: Deploy
description: |
  Storage for bizarr
type: kubernetes
name: bazarr-storage
variables:
  app-name: bazarr
spec:
  namespace: bazarr
  manifestTemplates:
    - manifests/storage.pvc.yml