kind: Deploy
type: helm
description: Deploy MetalLb
name: metallb
spec:
  namespace: metallb-system
  chart: 
    name: metallb
    repo: https://metallb.github.io/metallb
    version: 0.15.2
  values: 
    speaker:
      frr:
        enabled: false

---
kind: Deploy
type: kubernetes
name: metallb-config
description: |
  Deploy the metallb config
dependencies:
  - deploy.metallb
spec:
  namespace: metallb-system
  manifestTemplates:
    - namespace.yaml
    - addresspool.yaml
---
kind: Deploy
type: kubernetes
name: metallb-admin-config
description: |
  Deploy the metallb for the admin cluster
dependencies:
  - deploy.metallb
spec:
  namespace: metallb-system
  manifests:
    - apiVersion: metallb.io/v1beta1
      kind: IPAddressPool
      metadata:
        name: admin-ip-pool
        namespace: metallb-system
      spec:
        addresses:
        - 192.168.0.251-192.168.0.253
    - apiVersion: metallb.io/v1beta1
      kind: L2Advertisement
      metadata:
        name: default
        namespace: metallb-system
      spec:
        ipAddressPools:
          - admin-ip-pool