# This is used to collector and push metrics to moonbase
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: opentelemetry-collector
  namespace: argocd
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: opentelemetry-collector
    repoURL: https://open-telemetry.github.io/opentelemetry-helm-charts
    targetRevision: 0.142.1
    helm:
      valuesObject:         
        namespaceOverride: monitoring
        mode: daemonset
        serviceAccount:
          create: false
          name: opentelemetry-target-allocator-ta
        presets:
          clusterMetrics:
            enabled: true
          hostMetrics:
            enabled: true
          kubeletMetrics:
            enabled: true
        image:
          repository: "ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib"
        config:
          receivers:
            prometheus:                 
              api_server:
                enabled: true
                server_config:
                  endpoint: "localhost:9090"
              config:
                scrape_configs: 
                - job_name: 'kubernetes-pods'
                  kubernetes_sd_configs:
                    - role: pod
                  relabel_configs:
                    - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
                      action: keep
                      regex: true
          exporters:
            prometheusremotewrite:
              endpoint: "http://prometheus.moonbase.home/api/v1/write"
              resource_to_telemetry_conversion:
                enabled: true
          processors:
            batch: {}
            resource:
              attributes:
              - key: environment
                value: "main-cluster"
                action: insert # Add if not present
              - key: collector.instance.id
                value: "otel-collector"
                action: insert
          service:
            pipelines:
              metrics:
                receivers: [prometheus]
                processors: [resource,batch]
                exporters: [debug,prometheusremotewrite]
  syncPolicy:
    automated:
      prune: true       # Automatically delete resources no longer in Git
      selfHeal: true    # Correct manual changes made in the cluster (drift detection)
    syncOptions:
      - CreateNamespace=true           # Automatically create the target namespace if it doesn't exist
      - PruneLast=true                 # Defer resource deletion until after new ones are applied (safer rollouts)
      - PrunePropagationPolicy=foreground # Gracefully delete dependent resources (recommended for safety)
      - ServerSideApply=true  