kind: Deploy
name: pig-ebank
description: pig-ebank
type: kubernetes
variables:
  app-name: ${this.name}
  app-storage: ${this.name}-storage
dependencies:
  - deploy.pig-ebank-storage
  - deploy.pig-ebank-ghcr-credentials
spec:
  namespace: pig-ebank
  manifestTemplates:
    - manifests/deployment.yaml
    - manifests/service.yaml
    - manifests/ingress.yaml
---
kind: Deploy
name: pig-ebank-storage
description: pig-ebank
type: kubernetes
spec:
  namespace: pig-ebank
  manifestTemplates:
    - manifests/pvc.yaml
---
kind: RenderTemplate
name: pig-ebank-ghcr-credentials
template: docker-secret-template
inputs:
  registry: "https://ghcr.io"
  username: ${var.ghcr.username}
  password: ${var.ghcr.api-key}
  email: ${var.email}
  namespace: pig-ebank
