apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pig-ebank-storage
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: rook-cephfs-retain