apiVersion: v1
kind: Service
metadata:
  name: ${var.app-name}
  annotations:
    metallb.universe.tf/allow-shared-ip: ${var.app-name}
    external-dns.alpha.kubernetes.io/hostname: ${var.app-name}.home
spec:
  type: ClusterIP
  selector:
    app: ${var.app-name}
  ports:
  - name: http
    port: 80
    targetPort: 8080