kind: ConfigTemplate
name: docker-secret-template
inputs:
  username:
    type: string
  password:
    type: string
  email: 
    type: string
  registry:
    type: string
  namespace:
    type: string
configs:
  - kind: Deploy
    type: kubernetes
    name: ${parent.name}
    description: ${parent.name} manifests
    variables:
      auth: ${inputs.username}:${inputs.password}
      dockerconfigjson: |
        {
          "auths": {
            "${inputs.registry}": {
              "username": "${inputs.username}",
              "password": "${inputs.password}",
              "email": "${inputs.email}",
              "auth": "${base64Encode(var.auth)}"
            }
          }
        }
    spec:
      manifests:
        - apiVersion: v1
          kind: Secret
          type: kubernetes.io/dockerconfigjson
          metadata:
            name: ${parent.name}
            namespace: ${inputs.namespace}
          data:
            .dockerconfigjson: ${base64Encode(var.dockerconfigjson)}